# Virtual environment
venv/

# Python cache
__pycache__/

# Compiled Python files
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Coverage reports
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store